<?xml version="1.0"?>
<!--
/**
 * @category   Mangoit
 * @package    Mangoit_Custombanner
 */
 -->
<config>
    <modules>
        <Mangoit_Custombanner>
            <version>0.1.0</version>
        </Mangoit_Custombanner>
    </modules>
    <frontend>
        <routers>
            <custombanner>
                <use>standard</use>
                <args>
                    <module>Mangoit_Custombanner</module>
                    <frontName>custombanner</frontName>
                </args>
            </custombanner>
        </routers>
        <layout>
            <updates>
                <custombanner>
                    <file>custombanner.xml</file>
                </custombanner>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mangoit_Custombanner>
                    <files>
                        <default>Mangoit_Custombanner.csv</default>
                    </files>
                </Mangoit_Custombanner>
            </modules>
        </translate>
    </frontend>
     
    <admin>
        <routers>
            <custombanner>
                <use>admin</use>
                <args>
                    <module>Mangoit_Custombanner</module>
                    <frontName>custombanner</frontName>
                </args>
            </custombanner>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <custombanner module="custombanner">
                <title>Custom Banner</title>
                <sort_order>75</sort_order>
                <children>
                    <custombanner module="custombanner">
                        <title>Manage Custom Banner</title>
                        <sort_order>0</sort_order>
                        <action>custombanner/adminhtml_custombanner</action>
                    </custombanner>
                    <custombannergroup module="custombanner">
                        <title>Manage Custom Banner Groups</title>
                        <sort_order>1</sort_order>
                        <action>custombanner/adminhtml_custombannergroup</action>
                    </custombannergroup>
                </children>
            </custombanner>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Mangoit_Custombanner>
                            <title>Custom Banner</title>
                            <sort_order>11</sort_order>
                        </Mangoit_Custombanner>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <custombanner>
                                            <title>Custombanner Settings</title>
                                        </custombanner>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <custombanner>
                    <file>custombanner.xml</file>
                </custombanner>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <custombanner>
                <class>Mangoit_Custombanner_Model</class>
                <resourceModel>banner_mysql4</resourceModel>
            </custombanner>
            <banner_mysql4>
                <class>Mangoit_Custombanner_Model_Mysql4</class>
                <entities>
                    <custombanner>
                        <table>custombanner</table>
                    </custombanner>
                    <custombannergroup>
                        <table>custombannergroup</table>
                    </custombannergroup>
                </entities>
            </banner_mysql4>
        </models>
        <blocks>
            <custombanner>
                <class>Mangoit_Custombanner_Block</class>
            </custombanner>            
        </blocks>
        <helpers>
            <custombanner>
                <class>Mangoit_Custombanner_Helper</class>
            </custombanner>
        </helpers>
        <resources>
            <custombanner_setup>
                <setup>
                    <module>Mangoit_Custombanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custombanner_setup>
            <custombanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custombanner_write>
            <custombanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custombanner_read>
        </resources>
    </global>
    <default>
        <custombanner>
            <custombanner>
                <banner_time_delay>3000</banner_time_delay>
                <banner_autoplay>1</banner_autoplay>
            </custombanner>
        </custombanner>
    </default>
</config>